<div class="section">
  <div class="title">Generator</div>
  <span>Lorem ipsum dolores sit amet</span>
</div>
<div class="container">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your sex</ng-template>
        <mat-label>Sex</mat-label>
        <mat-radio-group class="genre-group" aria-label="Select an option" formControlName="SEX" required>
          <mat-radio-button class="genre-value" value="1">Male</mat-radio-button>
          <mat-radio-button class="genre-value" value="2">Female</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your details</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Your name" required />
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" placeholder="Your age" required />
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Height</mat-label>
          <input matInput formControlName="height" placeholder="Your height" required />
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Weight</mat-label>
          <input matInput formControlName="weight" placeholder="Your weight" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext class="margin-right" (click)="getData()">Calorie generation</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Your number of calories per day</ng-template>
        <h2 class="center margin-bottom">Welcome {{name}}</h2>
        <h4 class="center margin-top margin-bottom"><br>your daily calories requirement
          <mat-label> {{result}}
          </mat-label>
        </h4>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <table mat-table [dataSource]="foods" class="mat-elevation-z8">
        <ng-container matColumnDef="partea_zilei">
          <th mat-header-cell *matHeaderCellDef> Day time </th>
          <td mat-cell *matCellDef="let food"> {{food.partea_zilei}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let food"> {{food.name}} </td>
        </ng-container>
        <ng-container matColumnDef="calories">
          <th mat-header-cell *matHeaderCellDef> Calories </th>
          <td mat-cell *matCellDef="let food"> {{food.calories}} </td>
        </ng-container>
        <ng-container matColumnDef="foto_link">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let food"> <img src="{{food.foto_link}}" height="150"> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>