<section>
  <div class="container">
      <div class="carousel">
          <input type="radio" name="slides" checked="checked" id="slide-1">
          <input type="radio" name="slides" id="slide-2">
          <input type="radio" name="slides" id="slide-3">
          <input type="radio" name="slides" id="slide-4">
          <input type="radio" name="slides" id="slide-5">
          <input type="radio" name="slides" id="slide-6">
          <ul class="carousel__slides">
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F7690928.jpg&w=550&h=550&c=sc&poi=face&q=85" alt="">
                      </div>
                      <figcaption>
                        Two Cypriot specialties--good olive oil and fresh lemons--lend sunny flavor to this simple bean dish, served as a side in Cyprus. 
                        <br>Chard adds a hearty touch. Top with a dollop of Greek yogurt, or nondairy yogurt to keep it vegan, for a meatless meal. Source: EatingWell Magazine, March 2020
                          <span class="credit">Photo: Tim Marshall</span>
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="https://picsum.photos/id/1043/800/450" alt="">
                      </div>
                      <figcaption>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          <span class="credit">Photo: Christian Joudrey</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="https://picsum.photos/id/1044/800/450" alt="">
                      </div>
                      <figcaption>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          <span class="credit">Photo: Steve Carter</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="https://picsum.photos/id/1045/800/450" alt="">
                      </div>
                      <figcaption>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="https://picsum.photos/id/1049/800/450" alt="">
                      </div>
                      <figcaption>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          <span class="credit">Photo: Rosan Harmens</span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="https://picsum.photos/id/1052/800/450" alt="">
                      </div>
                      <figcaption>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          <span class="credit">Photo: Annie Spratt</span>                            
                      </figcaption>
                  </figure>
              </li>
          </ul>    
          <ul class="carousel__thumbnails">
              <li>
                  <label for="slide-1"><img src="https://picsum.photos/id/1041/150/150" alt=""></label>
              </li>
              <li>
                  <label for="slide-2"><img src="https://picsum.photos/id/1043/150/150" alt=""></label>
              </li>
              <li>
                  <label for="slide-3"><img src="https://picsum.photos/id/1044/150/150" alt=""></label>
              </li>
              <li>
                  <label for="slide-4"><img src="https://picsum.photos/id/1045/150/150" alt=""></label>
              </li>
              <li>
                  <label for="slide-5"><img src="https://picsum.photos/id/1049/150/150" alt=""></label>
              </li>
              <li>
                  <label for="slide-6"><img src="https://picsum.photos/id/1052/150/150" alt=""></label>
              </li>
          </ul>
      </div>
  </div>
</section>